<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level - %m%n%ex%n"/>
    </Console>  
  </Appenders>
  <Loggers>
       
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <Logger name="egovframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        
		<Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.audit" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.connection" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="jdbc.resultset" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        
        <Logger name="nds.tmm.common.BaroappController" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

		
        <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</configuration>