<script id="icon_holder_html" type="text/html">

<label class="col-sm-2 control-label input-lg-height"><%= title %></label>
<div class="col-sm-10">
    <div class="icon_thumb_box app_icon app_icon_m spotlight fl"> <i class="fa <%= icon %> font_icon fa-fw" value="<%= icon %>"></i></div>
    <div class="ml10 mt10 fl">
        <input type="button" value="아이콘 선택" class="btn btn-primary btn_menu_icon">
        <div class="desc"></div>
    </div>
</div>

</script>

<script id="icon_holder_manager_html" type="text/html">

<div class="panel panel-default">
  <div class="panel-heading">
	Icon Holder Manager
  </div>
  <div class="panel-body jsoneditor_region">
  </div>
  <div class="panel-footer">
	IconHolder 위젯의 초기화 파라메터를 입력하세요
  </div>
</div>

</script>